
<div class="row">
  <div class="col-md-2 border-right"></div>
  <div class="col-md-4 border-right">

    <mat-card>
      <mat-card-title>Click and set the time</mat-card-title>
      {{hour}} : {{minute}} : {{second}} {{ampm}}
      <div>
        <input type="text" class="col-1"> :
        <input type="text" class="col-1"> :
        <input type="text" class="col-1"> {{ampm}}
      </div>

      <div>
        <button (click)="startClock()" mat-raised-button color="primary">start</button>
        <button (click)="stopClock()" mat-raised-button color="accent">stop</button>
      </div>
    </mat-card>


  </div>
  <div class="col-md-3 border-right"></div>
</div>
